$accent: #2f92ba;
$main-color: #333;
$gray: #c6c6c6;
$bg-light: #fff;
$bg-dark: #f3fbee;
$bg-black: #11171c;

$header-font: 'Lato', sans-serif;
$main-font: 'Roboto', sans-serif;

$logo-width: 50px;
$logo-height: 40px;