$accent: #4a247f;
$main-color: #333;
$gray: #c6c6c6;
$bg-light: #fff;
$bg-dark: #ebf5ff;
$bg-black: #11171c;

$header-font: 'Lato', sans-serif;
$main-font: 'Roboto', sans-serif;

$logo-width: auto;
$logo-height: 50px;
